<a href="https://colab.research.google.com/github/yasminekarray/ML/blob/main/pcasoft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
df=pd.read_csv("soft.csv")

In [31]:
df.head()

   satisfaction_level  last_evaluation  ...  sales  salary
0                0.38             0.53  ...  sales     low
1                0.80             0.86  ...  sales  medium
2                0.11             0.88  ...  sales  medium
3                0.72             0.87  ...  sales     low
4                0.37             0.52  ...  sales     low

[5 rows x 10 columns]

In [32]:
df.describe

<bound method NDFrame.describe of        satisfaction_level  last_evaluation  ...    sales  salary
0                    0.38             0.53  ...    sales     low
1                    0.80             0.86  ...    sales  medium
2                    0.11             0.88  ...    sales  medium
3                    0.72             0.87  ...    sales     low
4                    0.37             0.52  ...    sales     low
...                   ...              ...  ...      ...     ...
14994                0.40             0.57  ...  support     low
14995                0.37             0.48  ...  support     low
14996                0.37             0.53  ...  support     low
14997                0.11             0.96  ...  support     low
14998                0.37             0.52  ...  support     low

[14999 rows x 10 columns]>

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

no null values 
2 object type

In [34]:
df.salary.value_counts

<bound method IndexOpsMixin.value_counts of 0           low
1        medium
2        medium
3           low
4           low
          ...
14994       low
14995       low
14996       low
14997       low
14998       low
Name: salary, Length: 14999, dtype: object>

In [35]:
df.nunique()

satisfaction_level        92
last_evaluation           65
number_project             6
average_montly_hours     215
time_spend_company         8
Work_accident              2
left                       2
promotion_last_5years      2
sales                     10
salary                     3
dtype: int64

In [36]:
df.sales.values

array(['sales', 'sales', 'sales', ..., 'support', 'support', 'support'],
      dtype=object)

In [37]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le =LabelEncoder()
df['salary']=le.fit_transform(df['salary'])
df.head()

   satisfaction_level  last_evaluation  ...  sales  salary
0                0.38             0.53  ...  sales       1
1                0.80             0.86  ...  sales       2
2                0.11             0.88  ...  sales       2
3                0.72             0.87  ...  sales       1
4                0.37             0.52  ...  sales       1

[5 rows x 10 columns]

In [39]:
from sklearn.preprocessing import StandardScaler
features = ['satisfaction_level',	'last_evaluation','number_project','average_montly_hours','time_spend_company',	'Work_accident','left','promotion_last_5years','sales']
x = df.loc[:, features]
y = df.loc[:,['salary']]

In [40]:
x = pd.get_dummies(x , "sales")
x.head()

   satisfaction_level  last_evaluation  ...  sales_support  sales_technical
0                0.38             0.53  ...              0                0
1                0.80             0.86  ...              0                0
2                0.11             0.88  ...              0                0
3                0.72             0.87  ...              0                0
4                0.37             0.52  ...              0                0

[5 rows x 18 columns]

In [41]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
x = pca.fit_transform(x)

In [42]:
sc = StandardScaler()
x = sc.fit_transform(x)

In [43]:
x.shape

(14999, 2)

In [44]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
x = pca.fit_transform(x)

In [45]:
principalDf = pd.DataFrame(data = principalComponents , columns = ['principal component 1', 'principal component 2'])

In [46]:
finalDf = pd.concat([principalDf, df[['salary']]], axis = 1)